# Modelos ejecutados

## Librerías usadas

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import accuracy_score, auc, confusion_matrix, f1_score, precision_score, recall_score
from sklearn.metrics import classification_report
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from imblearn.over_sampling import SMOTE
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score, StratifiedKFold, RepeatedStratifiedKFold, GridSearchCV
from sklearn.datasets import make_classification

## Carga del training

In [2]:
# Cargar el archivo CSV en un nuevo DataFrame con la columna "id" como índice
traininglimpio = pd.read_csv('traininglimpio.csv')
# Eliminar la columna de índice por defecto
traininglimpio.drop(columns=traininglimpio.columns[0], inplace=True)
# Mostrar el DataFrame cargado
traininglimpio.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,payment_type_rest,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest
0,69572,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,...,0,0,0,0,0,0,0,0,0,0
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,...,0,0,0,0,0,0,0,0,0,0
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,...,0,0,0,0,0,0,0,0,0,0
3,67743,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,...,0,0,0,0,0,0,0,0,0,0
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,...,0,0,0,0,0,0,0,0,0,0

## Carga del Test

In [3]:
# Cargar el archivo CSV en un nuevo DataFrame con la columna "id" como índice
testlimpio = pd.read_csv('testlimpio.csv')
# Eliminar la columna de índice por defecto
testlimpio.drop(columns=testlimpio.columns[0], inplace=True)
# Mostrar el DataFrame cargado
testlimpio.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,payment_type_rest,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest
0,50785,0.0,1996,35.290799,-4.059696,0,21,3,321,2012.0,...,0,0,0,0,0,0,0,0,0,0
1,51630,0.0,1569,36.656709,-3.309214,0,2,2,300,2000.0,...,0,0,0,0,0,0,0,0,0,0
2,17168,0.0,1567,34.767863,-5.004344,0,13,2,500,2010.0,...,0,0,0,0,0,0,0,0,0,0
3,45559,0.0,267,38.058046,-9.418672,0,60,23,250,1987.0,...,0,0,0,0,0,0,0,0,0,0
4,49871,150.0,1260,35.006123,-10.950412,0,10,3,60,2000.0,...,0,0,0,0,0,0,0,0,0,0

## Carga de etiquetas

In [36]:
# Ruta del archivo CSV
ruta_archivo = r"C:\Users\josea\Desktop\Concurso\Training labels.csv"
# Cargar el archivo CSV en un DataFrame
traininglabels = pd.read_csv(ruta_archivo)
# Mostrar las primeras filas del DataFrame cargado
traininglabels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

### MODELO 1 Random Forest

Probaré a tirar un modelo RandomForest entrenado con los datos de traininglimpio y la variable objetivo del dataset traininglabels. Con los datos de testlimpio haré predicciones usando. predict() y generaré la y_pred que es lo que busco.

In [5]:
# Seleccionar solo la columna objetivo
traininglabels = traininglabels['status_group']
# Inicializar el modelo de Random Forest
modelo_rf = RandomForestClassifier()
# Entrenar el modelo
modelo_rf.fit(traininglimpio, traininglabels)
# Predecir los valores para el conjunto de datos de prueba
y_pred = modelo_rf.predict(testlimpio)
# y_pred ahora contiene las predicciones para el conjunto de datos de prueba
print(y_pred)

['functional' 'functional' 'functional' ... 'functional' 'functional'
 'non functional']

In [6]:
# Predicciones en el conjunto de entrenamiento
y_train_pred = modelo_rf.predict(traininglimpio)
# Etiquetas verdaderas en el conjunto de entrenamiento
y_train_true = traininglabels
# Calcular métricas
accuracy = accuracy_score(y_train_true, y_train_pred)
precision = precision_score(y_train_true, y_train_pred, average='weighted')
recall = recall_score(y_train_true, y_train_pred, average='weighted')
f1 = f1_score(y_train_true, y_train_pred, average='weighted')
conf_matrix = confusion_matrix(y_train_true, y_train_pred)
# Imprimir métricas
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.999983164983165
Precision: 0.9999831655050192
Recall: 0.999983164983165
F1 Score: 0.9999831649292261
Confusion Matrix:
 [[32259     0     0]
 [    0  4317     0]
 [    1     0 22823]]

Explicación de las métricas: El modelo tiene mucha exactitud (accuracy) predice muchos positivos respecto al total de predicciones. Es muy preciso con lo que acierta muchos verdaderos positivos respecto al total de predicciones. Mucho Recall que es el acierto de verdaderos positivos respecto a los positivos reales y mucha sensibilidad que son los verdaderos positivos respecto al total de positivos del modelo. Por otro lado el F1 que es la evaluación del rendimiento del modelo que en este caso también es muy alta.

Generar .csv del Modelo 1 Random Forest siguiendo los criterios de la web.

In [84]:
resultados = pd.DataFrame({'id': testlimpio['id'], 'status_group': y_pred})
# Guardar el DataFrame en un archivo CSV
resultados.to_csv('SubmissionFormatRF.csv', index=False)

La puntuación de este modelo de Random Forest sin modificaciones fue de 0,7833

### Modelo 2 XGboost

Probaré a tirar un modelo XGBoost entrenado con los datos de traininglimpio y la variable objetivo del dataset traininglabels. Con los datos de testlimpio haré predicciones usando. predict() y generaré la y_pred que es lo que busco. Para este modelo voy a tener que cambiar los valores de la variable objetivo de strings a valores enteros numéricos.

In [8]:
# Convertir etiquetas de clase a valores enteros
class_mapping = {'functional': 0, 'functional needs repair': 1, 'non functional': 2}
traininglabels_int = traininglabels.map(class_mapping)
# Inicializar el modelo de XGBoost
modelo_xgb = XGBClassifier()
# Entrenar el modelo
modelo_xgb.fit(traininglimpio, traininglabels_int)
# Predecir los valores para el conjunto de datos de prueba
y_pred_xgb = modelo_xgb.predict(testlimpio)
# Predicciones en el conjunto de entrenamiento
y_train_pred_xgb = modelo_xgb.predict(traininglimpio)
# Calcular métricas en el conjunto de entrenamiento
accuracy_xgb = accuracy_score(traininglabels_int, y_train_pred_xgb)
precision_xgb = precision_score(traininglabels_int, y_train_pred_xgb, average='weighted')
recall_xgb = recall_score(traininglabels_int, y_train_pred_xgb, average='weighted')
f1_xgb = f1_score(traininglabels_int, y_train_pred_xgb, average='weighted')
conf_matrix_xgb = confusion_matrix(traininglabels_int, y_train_pred_xgb)
# Imprimir métricas del modelo de XGBoost
print("Métricas del modelo de XGBoost en el conjunto de entrenamiento:")
print("Accuracy:", accuracy_xgb)
print("Precision:", precision_xgb)
print("Recall:", recall_xgb)
print("F1 Score:", f1_xgb)
print("Confusion Matrix:\n", conf_matrix_xgb)

Métricas del modelo de XGBoost en el conjunto de entrenamiento:
Accuracy: 0.8338047138047138
Precision: 0.8375817640573712
Recall: 0.8338047138047138
F1 Score: 0.8240992087241753
Confusion Matrix:
 [[30431   255  1573]
 [ 2374  1402   541]
 [ 5007   122 17695]]

Explicación de las métricas: El modelo tiene mucha exactitud (accuracy) predice muchos positivos respecto al total de predicciones. Es muy preciso con lo que acierta muchos verdaderos positivos respecto al total de predicciones. Mucho Recall que es el acierto de verdaderos positivos respecto a los positivos reales y mucha sensibilidad que son los verdaderos positivos respecto al total de positivos del modelo. Por otro lado el F1 que es la evaluación del rendimiento del modelo que en este caso también es muy alta. Las métricas generadas son buenas pero no tanto como las del primer modelo de Random Forest.

Generar .csv del Modelo 2 XGBoost

In [25]:
# Mapear los valores enteros a los valores reales
class_mapping_inv = {0: 'functional', 1: 'functional needs repair', 2: 'non functional'}
y_pred_xgb_real = [class_mapping_inv[label] for label in y_pred_xgb]
# Crear DataFrame con las predicciones y la columna 'id'
resultados = pd.DataFrame({'id': testlimpio['id'], 'status_group': y_pred_xgb_real})
# Guardar el DataFrame en un archivo CSV
#resultados.to_csv('SubmissionFormatXGB.csv', index=False)

La puntuación de este modelo de XGBoost fue de 0,7714

Respecto a los resultados generados por ambos modelos se puede corroborar que los modelos de Random Forest son mejores que los XGBoost con conjuntos de datos no balanceados, mi idea a partir de ahora es intentar mejorar el modelo de Random forest con varias propuestas que se me han ocurrido.

### Modelo 3 Propuesta de mejora del modelo de RandomForest inicial

Voy a crear variables aleatorias al dataset de traininglimpio y veré la correlación de estas con la variable objetivo del traininglabels, una vez hecho esto eliminaré del modelo las que tengan menos correlación que las aleatorias para intentar así hacer un modelo mejor con menos variables.

In [9]:
#Cargo el traininglimpio y hago una copia

In [28]:
traininglimpioRF1 = traininglimpio.copy()
traininglimpioRF1.head(5)

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,payment_type_rest,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest
0,69572,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,...,0,0,0,0,0,0,0,0,0,0
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,...,0,0,0,0,0,0,0,0,0,0
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,...,0,0,0,0,0,0,0,0,0,0
3,67743,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,...,0,0,0,0,0,0,0,0,0,0
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#Cargo el testlimpio y le hago una copia
testlimpioRF1 = testlimpio.copy()
testlimpioRF1.head(5)

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,payment_type_rest,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest
0,50785,0.0,1996,35.290799,-4.059696,0,21,3,321,2012.0,...,0,0,0,0,0,0,0,0,0,0
1,51630,0.0,1569,36.656709,-3.309214,0,2,2,300,2000.0,...,0,0,0,0,0,0,0,0,0,0
2,17168,0.0,1567,34.767863,-5.004344,0,13,2,500,2010.0,...,0,0,0,0,0,0,0,0,0,0
3,45559,0.0,267,38.058046,-9.418672,0,60,23,250,1987.0,...,0,0,0,0,0,0,0,0,0,0
4,49871,150.0,1260,35.006123,-10.950412,0,10,3,60,2000.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Cargo el Training Label y hago una copia con la que voy a trabajar

In [37]:
traininglabelsRF1 = traininglabels.copy()
traininglabelsRF1.head(5)

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [38]:
# Añadir la columna "status_group" al DataFrame TrainingValuesRF1
traininglimpioRF1 = pd.merge(traininglimpioRF1, traininglabelsRF1[['id', 'status_group']], on='id')
# Mostrar las primeras filas del DataFrame para verificar que la columna se haya añadido correctamente
traininglimpioRF1.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest,status_group
0,69572,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,...,0,0,0,0,0,0,0,0,0,functional
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,...,0,0,0,0,0,0,0,0,0,functional
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,...,0,0,0,0,0,0,0,0,0,functional
3,67743,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,...,0,0,0,0,0,0,0,0,0,non functional
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,...,0,0,0,0,0,0,0,0,0,functional

Voy a pasar la variable status group a numérica para ver la correlación con el resto

In [40]:
# Primero, vamos a mapear los valores únicos de 'status_group' a valores numéricos
status_group_mapping = {'functional': 0, 'non functional': 1, 'functional needs repair': 2}
# Luego, utilizamos la función map() para aplicar el mapeo a la columna 'status_group'
traininglimpioRF1['status_group_numeric'] = traininglimpioRF1['status_group'].map(status_group_mapping)
traininglimpioRF1.drop(columns=['status_group'], inplace=True)
traininglimpioRF1.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest,status_group_numeric
0,69572,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,...,0,0,0,0,0,0,0,0,0,0
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,...,0,0,0,0,0,0,0,0,0,0
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,...,0,0,0,0,0,0,0,0,0,0
3,67743,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,...,0,0,0,0,0,0,0,0,0,1
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,...,0,0,0,0,0,0,0,0,0,0

Ahora voy a hacer 2 grupos uno con las numericas y otro con las label encoder en ambos estará la variable objetivo  y veré las variables con más correlación en ambas en base a 2 variables aleatorias que crearé para tenerlas como referencia.

In [41]:
# Crear dos variables aleatorias numéricas
variable_aleatoria1 = np.random.rand(len(traininglimpioRF1))
variable_aleatoria2 = np.random.rand(len(traininglimpioRF1))
# Lista de columnas específicas
columnas_numericas = ['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 
                      'region_code', 'district_code', 'population', 'construction_year', 
                      'status_group_numeric']
# Crear un DataFrame temporal con las variables aleatorias
df_temporal = pd.DataFrame({'variable_aleatoria1': variable_aleatoria1,
                            'variable_aleatoria2': variable_aleatoria2})
# Concatenar el DataFrame temporal con el DataFrame original
dataset_con_variables_aleatorias = pd.concat([traininglimpioRF1[columnas_numericas], df_temporal], axis=1)
# Mostrar el nuevo DataFrame
dataset_con_variables_aleatorias.head()

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,status_group_numeric,variable_aleatoria1,variable_aleatoria2
0,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,0,0.487726,0.196999
1,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,0,0.379450,0.629573
2,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,0,0.082240,0.403003
3,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,1,0.639150,0.157449
4,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,0,0.388764,0.103861

In [78]:
# Seleccionar las correlaciones con respecto a 'status_group_numeric' y ordenarlas
correlation_with_target = correlation_matrix['status_group_numeric'].sort_values(ascending=False)

# Definir el tamaño de la figura
plt.figure(figsize=(10, 8))

# Crear un mapa de calor con las correlaciones ordenadas
#sns.heatmap(correlation_matrix.loc[correlation_with_target.index, correlation_with_target.index], 
            #annot=True, cmap='coolwarm', fmt=".2f")

# Añadir título
#plt.title('Matriz de Correlación (Ordenada por correlación con status_group_numeric)')

# Mostrar la matriz de correlación ordenada
#plt.show()

Las variables que me quedaré de este grupo son las que tienen más correlación con la objetivo que las aleatorias y son region_code, district_code, latitude y population. Ahora haré exactamente lo mismo con el resto de variables label encoder pero creando aleatorias con valores 0 y 1.

In [47]:
# Calcula la matriz de correlación
correlation_matrix = dataset_con_variables_aleatorias_2.corr()
# Calcular la matriz de correlación con respecto a 'status_group_numeric'
correlation_with_target_2 = correlation_matrix['status_group_numeric'].abs()
# Seleccionar las correlaciones que tienen una correlación absoluta mayor que las dos variables aleatorias
correlation_filtered = correlation_matrix[correlation_with_target_2 > correlation_with_target_2['variable_aleatoria3']]
# Ordenar las correlaciones según su correlación con 'status_group_numeric'
correlation_filtered_sorted = correlation_filtered['status_group_numeric'].sort_values(ascending=False)
# Definir el tamaño de la figura
plt.figure(figsize=(10, 8))
# Crear un mapa de calor con las correlaciones ordenadas
#sns.heatmap(correlation_filtered.loc[correlation_filtered_sorted.index, correlation_filtered_sorted.index], 
            #annot=True, cmap='coolwarm', fmt=".2f")
# Añadir título
#plt.title('Matriz de Correlación (Variables con mayor correlación que las aleatorias con status_group_numeric)')
# Mostrar la matriz de correlación ordenada
#plt.show()

Al haber muchas no se ve bien voy hacer un código que me haga 2 listas una de las cde más correlación y otro de las de menos.

In [54]:
# Calcular la matriz de correlación con respecto a 'status_group_numeric'
correlation_with_target_2 = correlation_matrix['status_group_numeric'].abs()
# Seleccionar las correlaciones que tienen una correlación absoluta mayor que las dos variables aleatorias
correlation_filtered = correlation_matrix[correlation_with_target_2 > correlation_matrix['variable_aleatoria3']]
# Ordenar las correlaciones según su correlación con 'status_group_numeric'
correlation_filtered_sorted = correlation_filtered['status_group_numeric'].sort_values(ascending=False)
# Obtener las variables con mayor correlación que las dos variables aleatorias
mayor_correlacion = correlation_filtered_sorted.index.tolist()
# Obtener las variables con menor correlación que las dos variables aleatorias
menor_correlacion = correlation_with_target_2[correlation_with_target_2 <= correlation_matrix['variable_aleatoria3']].index.tolist()
# Imprimir las variables con mayor y menor correlación
#print("Variables con mayor correlación que las dos variables aleatorias:")
#print(mayor_correlacion)
#print("\nVariables con menor correlación que las dos variables aleatorias:")
#print(menor_correlacion)

Voy a crear ahora el dataset que usaré formado por las de mayor correlación de ambas pruebas y a quitar la variable objetivo

In [63]:
traininglimpioRF1.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,...,water_quality_rest,quality_group_rest,quantity_rest,quantity_group_rest,source_rest,source_type_rest,source_class_rest,waterpoint_type_rest,waterpoint_type_group_rest,status_group_numeric
0,69572,100.0,1390,34.938093,-9.856322,0,11,5,109,1999.000000,...,0,0,0,0,0,0,0,0,0,0
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010.000000,...,0,0,0,0,0,0,0,0,0,0
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009.000000,...,0,0,0,0,0,0,0,0,0,0
3,67743,0.0,263,38.486161,-11.155298,0,60,23,58,1986.000000,...,0,0,0,0,0,0,0,0,0,1
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,1996.814686,...,0,0,0,0,0,0,0,0,0,0

In [68]:
# Variables a mantener
columnas_a_mantener = ['region_code', 'district_code', 'latitude', 'population', 'id']

# Quitar 'status_group_numeric' de la lista mayor_correlacion si está presente
if 'status_group_numeric' in mayor_correlacion:
    mayor_correlacion.remove('status_group_numeric')

# Combinar las variables de mayor correlación con las variables adicionales
columnas_seleccionadas = list(set(mayor_correlacion) | set(columnas_a_mantener))

# Filtrar las columnas que están presentes tanto en la lista como en el DataFrame
columnas_seleccionadas_filtradas = [col for col in columnas_seleccionadas if col in traininglimpioRF1.columns]

# Seleccionar las columnas de interés del dataset traininglimpioRF1
traininglimpioRF1 = traininglimpioRF1[columnas_seleccionadas_filtradas]

In [65]:
print("Número de filas y columnas del DataFrame:")
print(traininglimpioRF1_seleccionado.shape)

Número de filas y columnas del DataFrame:
(59400, 224)

In [74]:
# Variables a mantener
columnas_a_mantener = ['region_code', 'district_code', 'latitude', 'population', 'id']
# Quitar 'status_group_numeric' de la lista mayor_correlacion si está presente
if 'status_group_numeric' in mayor_correlacion:
    mayor_correlacion.remove('status_group_numeric')
# Combinar las variables de mayor correlación con las variables adicionales
columnas_seleccionadas = list(set(mayor_correlacion) | set(columnas_a_mantener))
# Filtrar las columnas que están presentes tanto en la lista como en el DataFrame
columnas_seleccionadas_filtradas = [col for col in columnas_seleccionadas if col in testlimpioRF1.columns]
# Si la columna 'id' está presente en el DataFrame original, asegúrate de incluirla en las columnas seleccionadas
if 'id' in testlimpioRF1.columns:
    columnas_seleccionadas_filtradas.append('id')
# Reordenar las columnas para que 'id' esté como la primera columna
columnas_seleccionadas_filtradas = ['id'] + [col for col in columnas_seleccionadas_filtradas if col != 'id']
# Seleccionar las columnas de interés del dataset testlimpioRF1
testlimpioRF1 = testlimpioRF1[columnas_seleccionadas_filtradas]
# Imprimir las primeras filas del DataFrame resultante
testlimpioRF1.head()

,id,date_recorded_top_8,scheme_management_top_6,extraction_type_top_2,extraction_type_class_top_1,subvillage_top_9,subvillage_top_3,scheme_name_top_5,ward_top_9,payment_type_top_4,...,quantity_top_3,lga_top_5,management_rest,extraction_type_group_rest,quantity_top_5,source_class_top_3,extraction_type_group_top_9,lga_top_9,management_top_7,district_code
0,50785,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,51630,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,17168,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,45559,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,23
4,49871,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [75]:
print("Número de filas y columnas del DataFrame:")
print(testlimpioRF1.shape)

Número de filas y columnas del DataFrame:
(14850, 224)

Voy a hacer un modelo Random Forest con estas variables para ver si sale mejor que el anterior.

Ahora que tengo los 3 dataset voy a hacer el modelo.

In [79]:
# Seleccionar solo la columna objetivo
traininglabels = traininglabelsRF1['status_group']
# Inicializar el modelo de Random Forest
modelo_rf = RandomForestClassifier()
# Entrenar el modelo
modelo_rf.fit(traininglimpioRF1, traininglabels)
# Seleccionar las mismas columnas en testlimpioRF1
variables_mayor_correlacion_testlimpioRF1 = testlimpioRF1[traininglimpioRF1.columns]
# Predecir los valores para el conjunto de datos de prueba
y_pred = modelo_rf.predict(variables_mayor_correlacion_testlimpioRF1)
# y_pred ahora contiene las predicciones para el conjunto de datos de prueba
print(y_pred)

['non functional' 'functional' 'functional' ... 'functional' 'functional'
 'non functional']

In [82]:
# Predicciones en el conjunto de entrenamiento
y_train_pred = modelo_rf.predict(traininglimpioRF1)
# Etiquetas verdaderas en el conjunto de entrenamiento
y_train_true = traininglabels
# Calcular métricas
accuracy = accuracy_score(y_train_true, y_train_pred)
precision = precision_score(y_train_true, y_train_pred, average='weighted')
recall = recall_score(y_train_true, y_train_pred, average='weighted')
f1 = f1_score(y_train_true, y_train_pred, average='weighted')
conf_matrix = confusion_matrix(y_train_true, y_train_pred)
# Imprimir métricas
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.9999326599326599
Precision: 0.9999326682815508
Recall: 0.9999326599326599
F1 Score: 0.999932659385261
Confusion Matrix:
 [[32259     0     0]
 [    1  4316     0]
 [    3     0 22821]]

Explicación de las métricas: El modelo tiene mucha exactitud (accuracy) predice muchos positivos respecto al total de predicciones. Es muy preciso con lo que acierta muchos verdaderos positivos respecto al total de predicciones. Mucho Recall que es el acierto de verdaderos positivos respecto a los positivos reales y mucha sensibilidad que son los verdaderos positivos respecto al total de positivos del modelo. Por otro lado el F1 que es la evaluación del rendimiento del modelo que en este caso también es muy alta. Las métricas generadas son similares a las del primer modelo de Random Forest.

In [83]:
resultados = pd.DataFrame({'id': testlimpio['id'], 'status_group': y_pred})
# Guardar el DataFrame en un archivo CSV
#resultados.to_csv('SubmissionFormatRF1.csv', index=False)

Este método me da un 0.7670 con lo que es peor que el random forest con todas las variables.Pensaba que eliminando variables con menos correlación el modelo sería mejor pero no ha sido así.

### Modelo 4 Random Forest con Validación cruzada

Voy a probar el primer random forest que hice pero haciendole validación cruzada repetida con 5 folds.

In [17]:
# Definir el modelo con los hiperparámetros actuales o los que quieras probar
modelo_rf = RandomForestClassifier(n_estimators=100, max_depth=10)
# Definir el esquema de validación cruzada (por ejemplo, 5-fold cross-validation)
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
# Listas para almacenar las predicciones y las etiquetas reales
predicciones = []
etiquetas_reales = []
# Realizar la validación cruzada y obtener las predicciones
for train_index, test_index in kf.split(traininglimpio, traininglabels):
    X_train, X_test = traininglimpio.iloc[train_index], traininglimpio.iloc[test_index]
    y_train, y_test = traininglabels.iloc[train_index], traininglabels.iloc[test_index]
    modelo_rf.fit(X_train, y_train)
    predicciones_fold = modelo_rf.predict(X_test)
    predicciones.extend(predicciones_fold)
    etiquetas_reales.extend(y_test)
# Calcular las métricas
accuracy = accuracy_score(etiquetas_reales, predicciones)
precision = precision_score(etiquetas_reales, predicciones, average='weighted')
recall = recall_score(etiquetas_reales, predicciones, average='weighted')
f1 = f1_score(etiquetas_reales, predicciones, average='weighted')
conf_matrix = confusion_matrix(etiquetas_reales, predicciones)
# Imprimir métricas
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.7506397306397307
Precision: 0.7761461599796833
Recall: 0.7506397306397307
F1 Score: 0.7204338673510254
Confusion Matrix:
 [[31042    71  1146]
 [ 3661   271   385]
 [ 9499    50 13275]]

Explicación de las métricas: El modelo tiene mucha exactitud (accuracy) predice muchos positivos respecto al total de predicciones. Es muy preciso con lo que acierta muchos verdaderos positivos respecto al total de predicciones. Mucho Recall que es el acierto de verdaderos positivos respecto a los positivos reales y mucha sensibilidad que son los verdaderos positivos respecto al total de positivos del modelo. Por otro lado el F1 que es la evaluación del rendimiento del modelo que en este caso también es muy alta. Las métricas generadas son inferiores a las del primer modelo de Random Forest.

In [21]:
# Crear DataFrame con las predicciones y la columna 'id'
resultados = pd.DataFrame({'id': testlimpio['id'], 'status_group': y_pred})
# Guardar el DataFrame en un archivo CSV
#resultados.to_csv('SubmissionFormatRFV.csv', index=False)

Este modelo de Random Forest con validación cruzada repetida y  5 folds ha obtenido una nota de 0,785 en la web. Es el mejor hasta ahora.

### Modelo 5 Random Forest con mejores hiperparámetros

Voy a usar el modelo previo de Random Forest con Validación cruzada repetida(estratificada) y buscaré los mejores hiperparámetros para generar un mejor modelo al anterior con grid search. De prueba los parametros que definiré son: n_estimators(nº de árboles aleatorios),max_depth(profundidad máxima de cada arbol), min_samples_split(nº de muestras de cada nodo).

In [21]:
X, y = make_classification(n_samples=1000, n_features=20, n_classes=2, random_state=42)
# Definir el modelo
modelo_rf = RandomForestClassifier()
# Definir los hiperparámetros a sintonizar y sus rangos
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}
# Configurar la validación cruzada repetida
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=42)
# Ejecutar la búsqueda en cuadrícula
grid_search = GridSearchCV(estimator=modelo_rf, param_grid=param_grid, cv=cv, scoring='accuracy')
grid_result = grid_search.fit(X, y)
# Imprimir los resultados
print("Mejor precisión:", grid_result.best_score_)
print("Mejores hiperparámetros:", grid_result.best_params_)

Mejor precisión: 0.8946666666666668
Mejores hiperparámetros: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 100}

El grid search me ha generado que los mejores parámetros son estos, casualmente en el modelo previo de validación cruzada repetida usé el mismo max_depth y nº de estimadores. Prefiero no ejecutarlo porque pienso que el resultado será muy parecido al previo.